[submodule "local/share/fcitx5/themes/Material-Color"]
	path = local/share/fcitx5/themes/Material-Color
	url = https://github.com/hosxy/Fcitx5-Material-Color.git
[submodule "pyenv"]
	path = pyenv
	url = https://github.com/pyenv/pyenv.git
